// services styles are started
.services {
	display: flex;
	padding-top: 25px;
	
	@include layout(767) {
		padding: 10px 10px;
		margin-top: 30px;
		justify-content: space-between;
		background: #fff;
	}
	&__block {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		@include layout(1200){
			width: 90%;
		}
		@include layout(1023){
			max-width: 315px;
			width: 100%;
		}
		@include layout(767) {
			max-width: 100%;
			justify-content: center;
			flex-wrap: wrap;
			padding-bottom: 0px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 33%;
		margin-bottom: 30px;
		@include layout(1366){
			padding-right: 20px;
		}
		@include layout(1280){
			padding-right: 10px;
		}
		@include layout(767) {
			margin-bottom: 10PX;
			padding-right: 0px;
		}
	a{
		align-self: center;
		&:hover{
			.services__img-holder{
					transform: scale(1.2);
					transition: transform ease-in-out 0.5s;
					@include layout(1100){
						transform: scale(1.1);
						}
			}
			.services__text{
				transition: transform ease-in-out 0.5s;
				color:#FF7F32;
				transform: scale(1.2);
				@include layout(1100){
				transform: scale(1.1);
				}
			}
		}
	}
	}
	&__img-holder {
		width: 88px;
		height: 88px;
		border-radius: 50%;
		img {
			border-radius: 50%;
		}
		@include layout(767) {
			width: 60px;
			height: 60px;
			margin: 0 auto;
		}
	}
	&__text {
		padding-top: 5px;
		color: #464242;
		text-align: center;
		@include layout(767) {
			display: flex;
			font-size: 12px;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
// services styles are ended