// Breakpoints
// Note: Consider using content based media queries
// Device based media queries
@mixin layout($number){
	@media (max-width: #{$number}px){
		@content;
	}
}

@mixin minLayout($number) {
    @media (min-width: #{$number}px) {
        @content;
    }
}
// color variables start
$cblue: #002c52;
$cblack: #1a1a1d;
$cwhite: #fff;
// color variables end

// add here further breakpoint variables or modify the above variables
